html {
  height: 100%;
  width: 100%;
}

img {
  height: 300px;
  width: 300px;
  outline: 2.5px solid rebeccapurple;
}

body {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 225px;
  margin-right: 225px;
  text-align: center;
  color: white;
  font-family: 'Georgia';
  font-size: 20px;
  background-color: black;
  letter-spacing: 1px;
}

pre {
  font-family: 'Georgia';
  font-size: 20px;
  text-align: left;
  margin-left: 200px;
}

h2 {
  color: rebeccapurple;
}

h1 {
  outline: 5px groove rebeccapurple;
}

a:link {
  color: rebeccapurple;
}

a:visited {
  color: rebeccapurple;
}

a:hover {
  color: darkblue;
}

a:active {
  color: darkblue;
}

#notDisplayed {
  color: rebeccapurple;
}